#navBar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#navBar .logo {
  font-size: 2.5rem;
  font-weight: bold;
}

#navBar .nav {
  display: flex;
  gap: 20px;
}

#navBar .link {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}